[Desktop Entry]
Type=Application
Version=3.7.3
Encoding=UTF-8
Name=XMind
Comment=Launch XMind 8 (v3.7.3)
Icon=XMind
Exec=XMind
Terminal=false
StartupNotify=true
Categories=Office;
MimeType=application/xmind;x-scheme-handler/xmind;
